body {
  background-color: #848582;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
}

/* Body Divs*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Introduction {
  background-color: #e41414;
  width: 50vw;
  height: 50vh;
}

.Introduction h1,
.Introduction h2,
.Introduction p {
  margin: 0px;
  padding: 0px;
}

.content {
  background-image: url("../images/free\ image\ 21.jpg");
  width: 50vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.Image2 {
  background-image: url("../images/free\ images\ \(2\).jpg");
  width: 50vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quote-div {
  background-color: #d6ec0a;
  width: 50vw;
  height: 50vh;
}

.pageinformation {
  background-color: #17e632;
  width: 100vw;
  height: 25vh;
}

.Video {
  background-color: #3e0bf7;
  width: 100vw;
  height: 25vh;
}

.background {
  background-color: #17dfe6;
  width: 100vw;
  height: 25vh;
}

/* Navigation top-div for Index page */

.Navigation {
  background-color: #db7806;
  height: 20vh;
}

.Navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.Navigation ul li {
  list-style-type: none;
  display: inline-block;
  margin: 2%;
  font-size: 2rem;
}

.Navigation ul li a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease 0s;
}

.Navigation ul li a:hover {
  color: blue;
  text-decoration: underline;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #e593b3;
  color: rgb(201, 199, 169);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #fffb13;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #9f14c2;
  padding: 20px;
}
